<%- include("./layouts/header.ejs") %>
<section class="best-selling section-card">
  <div class="title">
    <div class="color-box"></div>
    <p class="title-name">Manage Users</p>
  </div>
  <div class="list-control">
    <nav class="navbar-search">
      <form class="search-form">
        <input type="search" placeholder="Search" aria-label="Search">
        <button class="search-btn" type="submit"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
          <path
            d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"
          /></svg
      ></button>
      </form>
    </nav>
    
  </div>
  <table class="cart-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
        <tr>
          <td class="user-panel panel">
            <% if (user.images&& user.images.length>0) { %>
              <img src="<%= user.images[0] %>" alt="image" class="avatar" />
              <% } else { %>
              <img src="/assets/default-image.avif" alt="image" class="avatar" />
              <% } %>
            <p><%= user.username %></p>
          </td>
          <td class="price"><%= user.email %></td>
          <td>
            <form action="/admin/updateUserRole/<%= user._id %>?_method=PUT" method="post" class="manage-user-form">
              <input type="hidden" name="id" value="user" />
              <select name="role" id="role">
                <option value="CLIENT" <%= user.role === 'CLIENT' ? 'selected' : '' %>>Client</option>
                <option value="ADMIN" <%= user.role === 'ADMIN' ? 'selected' : '' %>>Admin</option>
              </select>
              <input type="submit" value="update" />
            </form>
          </td>
          <td>
            <form action="/admin/updateUserStatus/<%= user._id %>?_method=PUT" method="post" class="manage-user-form">
              <input type="hidden" name="id" value="user" />
              <select name="status" id="status">
                <option value="CLIENT" <%= user.status === 'ACTIVE' ? 'selected' : '' %>>Active</option>
                <option value="ADMIN" <%= user.status === 'BLOCKED' ? 'selected' : '' %>>Blocked</option>
              </select>
              <input type="submit" value="update" />
            </form>
          </td>
          <td class="qty-container">
            <a href="/admin/editUser/<%= user._id %>"><button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#e8eaed"
              >
                <path
                  d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"
                />
              </svg>
            </button></a>

            <form action="/admin/deleteUser/<%= user._id %>?_method=DELETE" method="post">
              <button type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                  <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
                </svg>
              </button>
            </form>
            
            
          </td>
        </tr>
      <% }) %>
      
    </tbody>
  </table>
</section>

<%- include("./layouts/footer.ejs") %>
